# Virtual environments
node_modules/
.env

# Logs
*.log

# IDE / Editor settings
.vscode/
.idea/

# Node.js (for frontend)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Frontend build output
frontend/build/
frontend/dist/

# Backend build output
backend/dist/

# OS files
.DS_Store
Thumbs.db

# eslint cache
.eslintcache

# etc
temp.txt