# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code, and run tests across different versions of node
# For more information, see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Frontend CI

on:
  workflow_run:
    workflows: [ "Backend CI" ]
    types: [ completed ]
    branches: [ "main" ]

jobs:
  build:
    
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: |
          frontend/lol-analyzer/package-lock.json
    - name: Install frontend dependencies
      run: npm ci
      working-directory: ./frontend/lol-analyzer
    - name: Lint frontend
      run: npm run lint
      working-directory: ./frontend/lol-analyzer
    - name: Build frontend
      run: npm run build
      working-directory: ./frontend/lol-analyzer
